<button class="easterEgg" onclick="javascript:crackEgg();">DOLL</button>
<div class="easterEgg" id="easterEgg">
 <img class="easterEgg" src="{{ site.pfp }}" onclick="javascript:assembleEgg();"/>
</div>