<div class="header">
 <h1 class="left">{{ site.nameAbbrev }}</h1>
 <button class="menuButton" onclick="openNav('{{ site.navElem }}')">{{ site.menuText }}</button>
 <h1 class="right">{{ site.edgeText }}</h1>
</div>