{% include 'spacer' %}
<h1 class="main">{{ site.title }}</h1>
{% include 'spacer' %}
<div class="bar">
 <img class="pfp" src="{{ site.pfp }}"/>
 <button class="nav" onclick="javascript:openNav('nav');">{{ site.menuText }}</button>
</div>
{% include 'spacer' %}
