<div class="landing">
 <div class="landingText">
  <h2 class="landingText">{{ site.landingHeading }}</h2>
  <p class="landingText">{{ site.landingPara }}</p>
 </div>
 <img class="landingPfp" alt="{{ site.pfpTitle }}" src="{{ site.pfpUrl }}"/>
</div>