<div class="sideMenu" id="{{ site.navElem }}">
 <div class="menuCentColumn">
  <img class="pfp" src="{{ site.pfp }}"/>
  <h1>{{ site.title }}</h1>
  <p class="slogan">{{ site.description }}</p>
  <hr class="sep"/>
  {% include 'nav' %}
 </div>
</div>