html {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    font-family: monospace;
    background-color: #000000;
}

div.main {
    margin: 0 auto;
    display: block;
    width: 60%;
    padding: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
h1 {
    font-size: 40px;
    color: #EA1573;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
h2 {
    font-size: 30px;
    color: #EA1573;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
p {
    font-size: 25px;
    color: #EA1573;
    text-align: left;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
a {
    font-size: 25px;
    color: #FF7BAC;
    padding-top: 0px;
    padding: 0px;
    transition-duration: 0.6s;
    margin: 0px;
    text-decoration: underline;
}
a:hover {
    color: #9696ff;
}
@media screen and (max-width: 800px) {
    div.main {
        width: 90%;
    }
}