@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/ttf/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/otf/Merriweather-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff/Merriweather-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff2/Merriweather-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/assets/fonts/ttf/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/assets/fonts/otf/PlayfairDisplay-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff/PlayfairDisplay-Regular.woff') format('woff');
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff2/PlayfairDisplay-Regular.woff2') format('woff2');
}