@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/ttf/Merriweather-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/otf/Merriweather-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff/Merriweather-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url('https://angeldollface.art/assets/fonts/woff2/Merriweather-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/assets/fonts/ttf/Couture.ttf') format('truetype');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/assets/fonts/otf/Couture.otf') format('opentype');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/assets/fonts/woff/Couture.woff') format('woff');
}
@font-face {
    font-family: 'Couture';
    src: url('https://angeldollface.art/assets/fonts/woff2/Couture.woff2') format('woff2');
}