@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/assets/fonts/ttf/Cyberpunk.ttf') format('truetype');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/assets/fonts/otf/Cyberpunk.otf') format('opentype');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/assets/fonts/woff/Cyberpunk.woff') format('woff');
}
@font-face {
    font-family: 'Cyberpunk';
    src: url('https://angeldollface.art/assets/fonts/woff2/Cyberpunk.woff2') format('woff2');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/assets/fonts/ttf/Aileron.ttf') format('truetype');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/assets/fonts/otf/Aileron.otf') format('opentype');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/assets/fonts/woff/Aileron.woff') format('woff');
}
@font-face {
    font-family: 'Aileron';
    src: url('https://angeldollface.art/assets/fonts/woff2/Aileron.woff2') format('woff2');
}