---
/*
DOLL FACE by Alexander Abraham, a.k.a. "Angel Dollface".
Licensed under the MIT license.
*/
import * as site from '../config';
const donationText: string = site.donationText;
---

<hr/>
<br/>
<div class="donationBox">
 <h2 class="donationBox">{donationText}</h2>
 <p class="donationBox">
  <a class="donationBox" href="https://www.buymeacoffee.com/angeldollface66"><img class="donationBox" src="https://img.buymeacoffee.com/button-api/?text=Buy me a coffee&emoji=❤️&slug=angeldollface66&button_colour=BD5FFF&font_colour=ffffff&font_family=Cookie&outline_colour=FFFFFF&coffee_colour=FF7BAC"/></a>
 </p>
</div>