---
import * as site from '../config';

const name = site.name;
const owner = site.owner;
const year = new Date().getFullYear();
---

<br/>
<div class="footer">
 <p class="footer">{name} c/o {owner} Copyright {year}</p>
</div>