<html lang="en-US">
 {% include 'head' %}
 <body>
  {% include 'nav' %}
  {% include 'menu' %}
  {% include 'letters' %}
  <div class="content">
   {% include 'landing' %}
  </div>
  {% include 'scripts' %}
 </body>
</html>