<!DOCTYPE html>
<html>
 {% include 'head' %}
<body>


  {% include 'nav' %}
  {% include 'header' %}
 

<div class="pageContent">
  <div class="contentColumn">
   <h2 class="pageHeading">{{ page.title }}</h2>
   {{ page.content }}
  </div>

  {% include 'meta' %}


</div>


{% include 'scripts' %}
</body>
</html>