<!DOCTYPE html>
<html>
 {% include 'head' %}
 <body>
 {% include 'nav' %}
 {% include 'heading' %}
 {% include 'spacer' %}
 <div class="content">
  {{ page.content  }}
 </div>
 {% include 'spacer' %}
 {% include 'scripts' %}
 </body>
</html>