<!DOCTYPE html>
<html>
 {% include 'head' %}
 <body>

   {% include 'sidemenu' %}

   <div class="textContent">
    {% include 'spacer' %}
    <div class="textCentColumn">
     <h2 class="pageHeading">{{ page.title}}</h2>
      <p class="date">{{ page.description }} | {{ page.date }}</p>
      {{ page.content }}
    </div>
    {% include 'spacer' %}
    {% include 'button' %}
  </div>

  {% include 'scripts' %}
 </body>
</html>