<!DOCTYPE html>
<html>
 {% include 'head' %}
 <body>
  {% include 'nav' %}
  <div class="content">
   {% include 'header' %}
   {{ page.content }}
   {% include 'spacer' %}
  </div>
  {% include 'scripts' %}
 </body>
</html>