<!DOCTYPE html>
<html>
 {% include 'head' %}
 <body>
  {% include 'spacer' %}
  {% include 'nav' %}
  <div class="content">
   {% include 'header' %}
   {% include 'spacer' %}
   <div class="userContent">
    <p class="contentDate">{{ page.date }}</p>
    <h2 class="pageTitle">{{ page.title }}</h2>
    <p class="description">{{ page.description }}</p>
    {{ page.content }}
   </div>
  </div>
  {% include 'spacer' %}
  {% include 'scripts' %}
 </body>
</html>