div.pageContent {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    align-items:normal;
    justify-content:center;
    flex-direction: row;
    display: flex;
    background-color: transparent;
}
div.contentColumn {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 3;
}
div.metaColumn {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex: 1;
}
h2.pageHeading {
    font-family: 'NeueMontrealBold';
    font-size: 50px;
    color: #000000;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 40px;
    margin: 0px;
    text-align: left;
}
h2 {
    font-family: 'NeueMontrealMedium';
    font-size:40px;
    color: #000000;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin: 0px;
    text-align: left;
}
h3 {
    font-family: 'NeueMontrealMedium';
    font-size:35px;
    color: #000000;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 0px;
    margin: 0px;
    text-align: left;
}
p {
    font-family: 'NeueMontrealMedium';
    font-size:30px;
    color: #000000;
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-top: 0px;
    margin: 0px;
    text-align: left;
}
img.authorPic {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 1px solid #000000;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
p.name {
    font-family: 'NeueMontrealMedium';
    font-size:25px;
    color: #000000;
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}
p.postMeta {
    font-family: 'NeueMontrealMedium';
    font-size:25px;
    color: #000000;
    font-weight: lighter;
    padding-right: 40px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 0px;
}