@media screen and (max-width: 800px) {
    button.nav {
        font-size: 18px;
    }
    img.pfp {
        width: 150px;
        height: 150px;
    }
    h1 {
        font-size: 34px;
    }
    p.motto {
        font-size: 14px;
    }
    h2 {font-size:30px;}
    h3 {font-size:26px;}
    h4 {font-size:22px;}
    p {
        font-size: 18px;
    }
    li {
        font-size: 18px;
    } 
    a {
        font-size: 18px;
    }
    a.nav {
        font-size: 24px;
    }
    code {
        font-size: 18px;
    }
    h2.preview {
        font-size: 30px;
    }
    p.previewDesc {
        font-size: 18px;
    }
    p.previewDate {
        font-size: 14px;
    }
    p.previewLink {
        font-size: 18px;
    }
    div.content {
        width: 90%;
    }
    p.closeButton {
        font-size: 24px;
    }
    a.closeButton {
        font-size: 24px;
    }
}