// Was: $bgColor: #C3B1E1;
$accentColor: #000000;
$mainColor: #FFFFFF;
$bgColor: #F5F5F5;
$hoverColor: #808080;
$stdFont: 'Merriweather-Regular';
$headingFont: 'Blackiron';
$codeFont: 'FiraCode-Regular';
$codeBG: #222222;
$codeColor: #FFFFFF;
$shadowColor: #F5F5F5;
