// Was: $bgColor: #C3B1E1;
$accentColor: #EA1573;
$mainColor: #000000;
$bgColor: #000000;
$hoverColor: #808080;
$stdFont: 'Merriweather-Regular';
$headingFont: 'Blackiron';
$codeFont: 'FiraCode-Regular';
$codeBG: #222222;
$codeColor: #FFFFFF;
$shadowColor: #EA1573;