---
import * as site from '../config';
import HeadCog from '../components/HeadCog.astro';
import ModelCog from '../components/ModelCog.astro';
import HeadingCog from '../components/HeadingCog.astro';
const title = site.name;
const description = site.description;
---
<html lang="en">
 <HeadCog/>
 <body>
  <HeadingCog/>
  <ModelCog
  textureURL="https://angeldollface.art/assets/images/matcaps/01.png"
   modelURL="https://angeldollface.art/assets/models/StageMoon.glb"
   symbolName="Moon"
   spinAxis="z"
  />
  <div class="skillList">
    <h2 class="skillList">
     DESIGNER, ARTIST, DEVELOPER, CREATIVE SOUL LIVING IN VIENNA. VIEW MY WORK BELOW:<br/>
     <a class="skillList" href="/pages/blog">MY WRITING</a> | <a  class="skillList" href="/pages/art">MY ART</a> | <a  class="skillList" href="/pages/projects">MY CODE</a>
    </h2>
  </div>
 </body>
</html>