---
/*
DOLL FACE by Alexander Abraham, a.k.a. "Angel Dollface".
Licensed under the MIT license.
*/

import HeadCog from "../components/HeadCog.astro";
import FooterCog from '../components/FooterCog.astro';
import HeadingCog from "../components/HeadingCog.astro";
export interface Props {
	content: {
		title: string;
		description: string;
	};
}
const {
	content: { 
		title, 
		description
	}
} = Astro.props;
---

<html lang="en">
 <HeadCog
  name={title}
  description={description}
 />
 <body>
  <HeadingCog/>
  <div class="content">
   <h2 class="sectionHeading">{title}</h2>
   <slot/>
  </div>
  <br/>
  <FooterCog/>
 </body>
</html>