---
import HeadCog from '../components/HeadCog.astro';
import ModelCog from '../components/ModelCog.astro';
import HeadingCog from '../components/HeadingCog.astro';
const projects = (await Astro.glob('../pages/projects/*.{md,}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---
<!DOCTYPE html>
<html lang="en">
	<HeadCog/>
 <body>
  <HeadingCog/>
  <ModelCog
  modelURL="https://angeldollface.art/assets/models/StageCode.glb"
  textureURL="https://angeldollface.art/assets/images/matcaps/02.png"
  symbolName="Six"
  spinAxis="z"
  />
  <div class="itemList">
   {projects.map(
    (project) => (
     <h2 class="item">
      <a class="item" href={project.url}>
	   {project.frontmatter.title}
      </a>
	</h2>
    )
   )
  }
  </div>
 </body>
</html>
